# Visual Studio 2015 cache/options directory
.vs/
.idea/
build/
_Build/vscode-clang/
_Build/
cmake-build-debug/
_DownloadData/
_PipelineCache/
_SaveData/
_TempData/
_logs/

# Android port
local.properties
.gradle/
app/build/
app/src/main/assets/kyty/
app/src/main/jniLibs/
.gradle
*.apk
*.aab
