<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Vulkan rendering + game input (the port targets Vulkan 1.1: instance
         creation and device enumeration both use VK_API_VERSION_1_1) -->
    <uses-feature android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x401000" />
    <uses-feature android:name="android.hardware.vulkan.level"
        android:required="false"
        android:version="1" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature android:name="android.hardware.keyboard"
        android:required="false" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.KytyPS5"
        android:allowBackup="false"
        android:supportsRtl="true"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density|fontScale|smallestScreenSize|touchscreen"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
